<html>
	<head>
		<meta charset="utf-8" />
		<title>绵阳餐饮可视化</title>
		<style>
			* {
				padding: 0;
				margin: 0;
			}
		</style>
		<script src="/static/jquery-3.6.0.js"></script>
		<script src="/static/echarts.js"></script>
		<script src="/static/bmap.js"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=KWbLsI5oSCdNhiN0UW6MO48Yda4qXgS1"></script>
		<script src="/static/ion.rangeSlider.js"></script>
		<link rel="stylesheet" href="/static/front.css" />
		<link rel="stylesheet" href="/static/ion.rangeSlider.css" />
	</head>
	<body>
		<div id="title">Restaurants in Mianyang</div>
		<div class="select" id="select_shops_analysis" onclick="switch_to_scatter()">餐馆</div>
		<div class="select" id="select_shops_heat" onclick="switch_to_heat()">热</div>
		<div class="select" id="select_users_analysis" onclick="switch_to_user()">用户</div>
		<div class="filter_view">
			<div id="score_filter" class="filter">
				<font style="font-size: 25px; color: #333333;">评分</font>
				<input type="text" class="js-range-slider" id="slider_score" />
			</div>
			<div id="price_filter" class="filter">
				<font style="font-size: 25px; color: #333333;">价格</font>
				<input type="text" class="js-range-slider" id="slider_price" />
			</div>
			<div id="clock_filter" class="filter">
				<font style="font-size: 25px; color: #333333;">营业时间</font>
				<input type="text" class="js-range-slider" id="slider_clock" />
			</div>
			<div id="pop_filter" class="filter">
				<font style="font-size: 25px; color: #333333;">评论数量</font>
				<input type="text" class="js-range-slider" id="slider_threshold" />
			</div>
		</div>
		<div class="filter_view" id="user_filter_view" >
			
		</div>
		<div id="word_cloud_view">
			<img src="/wordcloud" id="wc_img" />
			<div id="meal_only" onclick="meals_only()">菜品相关</div>
		</div>
		<div id="map_view_border">
			<div id="map_view"></div>
		</div>
		<div class="detail_view_border" id="shop_detail_view_border" onclick="bring_view_2top('shop')">
			<div id="detail_view">
				<div id="text_title">ShopTitle</div>
				<div id="text_sub">ID:000</div>
				<div id="stars_box">
					<div id="stars_cutter">
						<img id="stars" src="/static/stars.png" />
					</div>
					<div id="score">1.5</div>
				</div>
				<div id="avgp">均价1.5</div>
				<div class="info_box">
					<font>地址</font><div id="add_txt" style="float: left;"></div>
				</div>
				<div class="info_box">
					<font>电话</font><div id="tel_txt"></div>
				</div>
				<div id="star_pie"></div>
				<div id="comments_view" class="info_box">
					<div class="info_box comment">dfhfdghsdfxh</div>
					<div class="info_box comment">fghdfgjhfghdfxgh</div>
					<div class="info_box comment">fghdfghdfgh</div>
				</div>
			</div>
			<div class="dv_close_btn" onclick="close_shop_detail()">×</div>
		</div>
		<div class="detail_view_border" id="user_detail_view_border" onclick="bring_view_2top('user')">
			<div id="u_detail_view">
				
			</div>
			<div class="dv_close_btn" onclick="close_user_detail()">×</div>
			</div>
		<script src="/static/front.js"></script>
	</body>
</html>
