<html>
	<head>
		<meta charset="utf-8" />
		<title>可视化</title>
		<style>
			*{
				padding: 0;
				margin: 0;
			}
			#view{
				height: 100%;
				width: 100%;
			}
		</style>
		<script src="/static/jquery-3.6.0.js"></script>
		<script src="/static/echarts.js"></script>
		<script src="/static/bmap.js"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=KWbLsI5oSCdNhiN0UW6MO48Yda4qXgS1"></script>
		<script></script>
	</head>
	<body>
		<div id="view"></div>
		<script src="/static/front.js"></script>
	</body>
</html>